<!DOCTYPE html>

  <html lang="pt">
    <head>
     <title>Registro</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/register.css" rel="stylesheet">
    </head>
    <body>
      <main>
        <form id='registerUser'>
           <h2>Register</h2>
           <a href='/'><img id='back-page' src=''/></a>
          <input type='text' name='loginUser' id='loginUser' placeholder='Login'>
          <input type='password' name='passwordUser' id='passwordUser' placeholder='Senha'>
          <input type='text' name='keySecrect' id='keySecrect' placeholder='Senha do cofre'>
          <input type='submit' name='registerUser' id='registerUser' value='Registrar'>
        </form>
        <main>
          <footer>
            
          </footer>
    </body>
  </html>
